[Unit]
Description=uWSGI instance to serve precision-website
After=network.target

[Service]
User=ubuntu
Group=www-data

WorkingDirectory=/home/precision
Environment="PATH=/home/precision/venv/bin"
ExecStart=/home/precision/venv/bin/uwsgi --ini precision.ini

[Install]
WantedBy=multi-user.target
