{% extends 'base.html' %}

{% block nav_services %}active{% endblock %}

{% block title %}Company{% endblock %}

{% block content %}
<div class="section bg-primary">
    <div class="container">
        <div class="row main-low-margin text-light">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <h2>Our Company</h2>
                <h6 style="font-size: 0.9rem;">
                    UP- Precision Mold Co.,Ltd. was established in January2010, Located in changan town of Dongguan city
                    in Guangdong province which has a complete industrial chain in China, we are committed to the design
                    and development of high precision tooling, injection mold parts, hot runner components, as well as
                    the processing and manufacturing of mold base.
                    <br>
                    √ Our English speaking project managers have a strong project management background in the mold
                    industry；<br>
                    √ Our services include design and fabrication, value-added operations and assembly. Good
                    communication on all levels from commercial issues to design and final delivery. <br>

                </h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row main-low-margin text-center">
        <div class="col-md-4 col-sm-4">
            <div class="circle-body d-flex align-items-center justify-content-center"><i
                    class="fa fa-heart-o fa-5x  icon-set"></i></div>
            <h3>DESIGN AND ENGINEERING</h3>
            <p>
                Analysis and Engineering to make the parts right the first time.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="circle-body d-flex align-items-center justify-content-center"><i
                    class="fa fa-cogs fa-5x  icon-set"></i></div>
            <h3>MANUFACTURING</h3>
            <p>
                Every step should be checked carefully. Building the tooling in our state of the facility using the
                customers specification.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="circle-body d-flex align-items-center justify-content-center"><i
                    class="fa fa-check-circle-o fa-5x  icon-set"></i></div>
            <h3>100% INSPECTION</h3>
            <p>
                Quality team will review the original customer specifications to insure all requirements have been met.
                Full measurement reports provided as per customer requirements.
            </p>
        </div>

    </div>
</div>
<section class="jumbotron text-center bg-light">
    <div class="container">
        <h1 class="jumbotron-heading">Production Equipment</h1>
        <p class="lead text-muted">
            In the process of development, we constantly introduce many high- end processing
            equipments from Japan, Switzerland and other countries, such as: WAIDA optical projec tion grinder SPG - W
            (PG/Japan), SEIBU M50B wire cutting (Japan), and Sodick AP200L oil wire cutting, and Sodick ALN400Gs wire
            cutt ing (Japan), Agie Charmilles CUT E350 wire cutting(Swit zerland), precision surface grinding machine
            (Taiwan) etc.
        </p>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/PG_Grinding_workshop.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">PG Grinding workshop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/Wire_Cutting_workshop.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Wire Cutting workshop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/AP200L.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Sodick Oil Wire Cutting AP200L</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/Coordinate_Grinding_Workshop.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Coordinate Grinding Workshop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/Seibu_M50B_Wire_Cutting.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Seibu M50B Wire Cutting</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/CUT350.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Agie Charmilles CUT350 Wire Cutting</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/Surface_Grinding.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Surface Grinding</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/CNC_Preparation_Workshop.png') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">CNC Preparation Workshop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/Mirror_EDM_Workshop.png') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Mirror EDM Workshop</p>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="jumbotron-heading main-low-margin">Quality Equipment</h1>
        <p class="lead text-muted">
            Quality assurance is a priority of our machining process from start to
            finish. Our highly trained personnel carefully monitor their work for accuracy and keep a watchful eye on
            production to maintain consistent results. Most importantly, we stay in close communication with the
            customer throughout the entire process to ensure quality, dependable results. No matter how large or small
            your order, we guarantee consistent part quality.
        </p>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/quality_05.jpg') }}"
                        alt="Card image cap">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/quality_01.jpg') }}"
                        alt="Card image cap">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/quality_02.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Nikon Optical Projector</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/quality_03.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Nikon Height Gauge</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/quality_04.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Rowell Hardness Tester</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
{% endblock %}