{% extends 'base.html' %}

{% block nav_contact %}active{% endblock %}

{% block title %}Contact {% endblock %}
{% block content %}
<div class="section bg-primary main-low-margin" style="background-image: url('static/img/contact-us-2.jpg'); background-repeat: no-repeat; padding-bottom: 3rem;">
    <div class="container">
        <div class="row main-low-margin-contact text-light">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <h2>&nbsp;</h2>
                <h6>&nbsp;</h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
    <div class="row main-low-margin ">


        <div class="col-md-7 col-sm-7">
            <h3 class="text-center">DONG GUAN UP PRECISION MOLD CO.,LTD</h3>
            <hr>
            <p class="font-weight-bold">
                Add:1st Floor,Building1,Yiqiang Industrial Park,Yiqiang Road No.1,Xin’an Community,Chang’an Town,Dongguan City,Guangdong Province,China
            </p>
            <p class="font-weight-bold">
                Winni WEN<br>
                Email: service@uppmold.com<br>
                Skype:winni@uppmold.com
            </p>
        </div>
        <div class="col-md-5 col-sm-5 text-center">
            <div class="circle-body d-flex align-items-center justify-content-center">
                <i class="fa fa-map-marker fa-5x  icon-set"></i></div>
            <h3>OUR LOCATION </h3>
            <p>
                Building 2, No. 7, <br>
                Zhen'an West Road, Chang'an Town,<br>
                Dongguan City, Guangdong Province, China<br>
            </p>

        </div>
    </div>

    <div class="row main-low-margin text-center">
        <div class="col-md-5 col-sm-5">
            <div class="circle-body d-flex align-items-center justify-content-center">
                <i class="fa fa-comments fa-5x  icon-set"></i></div>
            <h3>SEND MESSAGE</h3>
            <p>If you have any questions, please send us message.</p>
        </div>

        <div class="col-md-7 col-sm-7">
            <h3>SEND A QUICK INQUIRY</h3>
            <hr>
            <form method="POST">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            {{ form.name(class='form-control',placeholder='Name') }}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            {{ form.email(class='form-control', placeholder = 'Email Address') }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            {{ form.body(class = 'form-control',placeholder = 'Message',rows = '7') }}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class = 'btn btn-primary') }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}