{% extends 'base.html' %}

{% block nav_customized %}active{% endblock %}

{% block title %}<title>Customized | UP-precision tooling co.,ltd</title>{% endblock %}

{% block content %}
<div class="section bg-primary">
    <div class="container">
        <div class="row main-low-margin text-light">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <h2>Precision Machining</h2>
                <h6>
                    Precision Machining are continually expanding our range of modern CNC Mill machines, which are
                    capable of precision machining complex multi-axis precision components, in batches from 1's to
                    1000's. Having the capabilities to work with a wide range of materials such as Steel,Stainless,
                    SteelTungsten,Titanium,Inconel,Hastelloy,Tool Steels,Aluminum,Brass,Plastics etc, gives us the
                    flexibility to work on all CNC Manufacturing projects and we can advise you on the most suitable
                    material for your engineering requirements.
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row main-low-margin text-center">
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top"
                    src="{{ url_for('static',filename = 'uploads/customized/20191216153012883.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">20191216153012883</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top"
                    src="{{ url_for('static',filename = 'uploads/customized/20191216153034447.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">20191216153034447</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top"
                    src="{{ url_for('static',filename = 'uploads/customized/20191216153036897.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">20191216153036897</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top"
                    src="{{ url_for('static',filename = 'uploads/customized/20191216153060553.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">20191216153060553</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/customized/DSC_0807.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">DSC_0807</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/customized/DSC_0831.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">DSC_0831</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/customized/DSC_0833.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">DSC_0833</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/customized/DSC_0851.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">DSC_0851</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/customized/化妆品模具镶件.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/customized/化妆品模具镶件.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/customized/化妆品牛角流道模具镶件.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/customized/医疗包装模具非标司筒.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/customized/化妆品椭圆瓶盖模具镶件.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}