{% extends 'base.html' %}

{% block nav_mold %}active{% endblock %}

{% block title %}Mold Base {% endblock %}

{% block content %}
<div class="section bg-primary">
    <div class="container">
        <div class="row main-low-margin text-light">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <h2>Mold Base</h2>
                <h6>
                    With years of experience in producing high-quality moulds base for injection molds industrial , we
                    are ready to customize molds base for you to meet your production needs and improve your maximum
                    efficiency.
                    Our project engineers and mold designers will work with you to explore the best and most
                    cost-effective solutions to meet your production needs.
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row main-low-margin text-center">
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/mold base/mold_base_01.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">mold_base_01</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/mold base/mold_base_02.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">mold_base_02</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/mold base/mold_base_03.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">mold_base_03</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/mold base/mold_base_04.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">mold_base_04</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/mold base/mold_base_05.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">mold_base_05</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/mold base/mold_base_06.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">mold_base_06</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}