{% extends 'base.html' %}

{% block nav_products %}active{% endblock %}

{% block title %}<title>Stamping Die | UP-precision tooling co.,ltd</title>{% endblock %}

{% block content %}
<div class="section bg-primary">
    <div class="container">
        <div class="row main-low-margin text-light">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <h2>Stamping Die Components</h2>
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row main-low-margin">
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style">
                <img class="card-img-top" src="{{ url_for('static',filename = 'img/弹簧系列.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}