{% extends 'base.html' %}

{% block nav_products %}active{% endblock %}

{% block title %}Stamping Die{% endblock %}

{% block content %}
<div class="section bg-primary">
    <div class="container">
        <div class="row main-low-margin text-light">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <h2>Stamping Die Components</h2>
                <h6>
                    Custom metal stamping die components such Spring Series, Guide Pins&Guide Bush, Ejector Pins&Ejector
                    Sleeves, Cooling Elements Series, Locating Parts Series, Date Stamps, Latch Locks Series etc. </h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row main-low-margin">
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style text-center">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/stamp/UP01.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">UP01</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style text-center">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/stamp/UP02.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">UP02</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style text-center">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/stamp/UP03.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">UP03</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style text-center">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/stamp/UP04.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">UP04</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style text-center">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/stamp/UP05.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">UP05</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style text-center">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/stamp/UP06.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">UP06</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 shadow-sm bg-light transition_style text-center">
                <img class="card-img-top" src="{{ url_for('static',filename = 'uploads/stamp/UP07.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">UP07</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}