body {
  color: #343a40;
  line-height: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 40px;
}

p {
  line-height: 30px;
  margin-bottom: 23px;
}

.main-low-margin {
  margin-top: 4.6rem;
  padding: 20px 0;
}

.main-low-margin-contact {
  margin-top: 6rem;
}

.circle-body {
  width: 150px;
  height: 150px;
  margin: 0 auto 14px auto;
  border: 5px solid #007bff;
  border-radius: 100%;
  background-color: #ffffff;
}

.circle-body i {
  color: #343a40;
}

.container .row .transition_style {
  transition: all 0.5s;
}

.container .row .transition_style:hover {
  border: 1px solid #337ab7;
  transform: scale(1.05);
}

#footer {
  background-color: #343a40;
  padding: 30px;
}

/* back to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 99;
  border: none;
  outline: none;
  color: gray;
  cursor: pointer;
  padding: 15px;
  text-decoration: none;
  opacity: 0.5;
}

#myBtn:hover {
  color: #555;
  opacity: 1;
}

#dropdown-style:hover {
  color: #000 !important;
}

#carouselList {
  margin-top: 3.6rem;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.alert .close {
  top:-6px;
}