<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>haiyan website</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
</head>
<!--END HEAD SECTION -->

<body>
    <!-- NAV SECTION -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-3">
        <div class="container">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% block nav_home %}{% endblock %}" href="{{url_for('.index')}}">HOME <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% block nav_products %}{% endblock %}" href="#"
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            PRODUCTS
                        </a>
                        <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-light" id="dropdown-style" href="{{url_for('.injection_mold')}}">Injection Mold
                                Components</a>
                            <a class="dropdown-item text-light" id="dropdown-style" href="{{url_for('.stamping_die')}}">Stamping Die
                                Components</a>
                            <a class="dropdown-item text-light" id="dropdown-style" href="{{url_for('.hot_runner')}}">Hot Runner
                                Components</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block nav_customized %}{% endblock %}"
                            href="{{url_for('.customized')}}">CUSTOMIZED</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% block nav_mold %}{% endblock %}" href="{{url_for('.mold_base')}}">MOLD
                            BASE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block nav_services %}{% endblock %}"
                            href="{{url_for('.company')}}">COMPANY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block nav_contact %}{% endblock %}"
                            href="{{url_for('.contact')}}">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--END NAV SECTION -->
    <!-- HOME SECTION -->
    {% block content %}{% endblock %}

    <!--END HOME SECTION -->
    <!--FOOTER SECTION -->

    <div id="footer">
        <div class="container-fluid row bg-dark text-light">
            <div class="col-md-4">
                <h4>Quick Information :</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </p>
            </div>
            <div class="col-md-4">
                <h4>Need Help ? Write Us. </h4>
                <hr>
                <form>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3"
                                    placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit Request</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <a href="#"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
                <hr>
                <p>
                    xxxxxxxxxxxxxxx<br>
                    xxxxxxxxxxxxxxx<br>
                    Call: +123-456-789<br>
                    Email: xxxxxxxxx@xxx.com<br>
                </p>

                2020 www.yourdomain.com | All Right Reserved
            </div>
        </div>
    </div>
    <a href="javaScript:;" id="myBtn" class="text-center"><i class="fa fa-2x fa-arrow-circle-up"></i><br>top</a>
    <!--END FOOTER SECTION -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <script src="{{ url_for('static',filename = 'js/jquery.js') }}"></script>

    <!-- CUSTOM SCRIPT-->
    <script>

        $(function() {


            $(window).scroll(function() {
    
               var top1 = $(this).scrollTop();    
    
               if (top1>200) {    
    
                $("#myBtn").fadeIn();
    
               }else{
                    
                $("#myBtn").fadeOut();
               }
            });
    
            $("#myBtn").click(function(){
                $("body , html").animate({scrollTop:0},200);  
            });
    
        });
    </script>
</body>

</html>