{% extends 'base.html' %}

{% block nav_services %}active{% endblock %}

{% block content %}
<div class="section bg-primary">
    <div class="container">
        <div class="row main-low-margin text-light">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <h2>Our Company</h2>
                <h6>
                    With more than 10 years of experiences, Umold has become a leader in Mold Components in the sphere
                    of Injection Molding, Stamping Die, Casting Die, Hot Runner and mold base etc and we’re a preferred
                    supplier for some of the most successful international companies.
                    <br>
                    √ Our English speaking project managers have a strong project management background in the mold
                    industry；<br>
                    √ Our services include design and fabrication, value-added operations and assembly. Good
                    communication on all levels from commercial issues to design and final delivery.
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row main-low-margin text-center">
        <div class="col-md-4 col-sm-4">
            <div class="circle-body d-flex align-items-center justify-content-center"><i
                    class="fa fa-heart-o fa-5x  icon-set"></i></div>
            <h3>DESIGN AND ENGINEERING</h3>
            <p>
                Analysis and Engineering to make the parts right the first time.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="circle-body d-flex align-items-center justify-content-center"><i
                    class="fa fa-cogs fa-5x  icon-set"></i></div>
            <h3>MANUFACTURING</h3>
            <p>
                Every step should be checked carefully. Building the tooling in our state of the facility using the
                customers specification.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="circle-body d-flex align-items-center justify-content-center"><i
                    class="fa fa-check-circle-o fa-5x  icon-set"></i></div>
            <h3>100% INSPECTION</h3>
            <p>
                Quality team will review the original customer specifications to insure all requirements have been met.
                Full measurement reports provided as per customer requirements.
            </p>
        </div>

    </div>
</div>
<section class="jumbotron text-center bg-light">
    <div class="container">
        <h1 class="jumbotron-heading">Production Equipment</h1>
        <p class="lead text-muted">AgieCharmilles CUT E350 wire cutting (Switzerland), SEI BU M50B wire cutting (Japan),
            Sodick AP200L oil wire cutting (Japan), surface grinders.
        </p>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/PG_Grinding_workshop.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">PG Grinding workshop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/Wire_Cutting_workshop.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Wire Cutting workshop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/AP200L.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Sodick Oil Wire Cutting AP200L</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/Coordinate_Grinding_Workshop.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Coordinate Grinding Workshop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/Seibu_M50B_Wire_Cutting.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Seibu M50B Wire Cutting</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/CUT350.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Agie Charmilles CUT350 Wire Cutting</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/Surface_Grinding.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Surface Grinding</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/CNC_Preparation_Workshop.png') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">CNC Preparation Workshop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top"
                        src="{{ url_for('static',filename = 'img/equipment/Mirror_EDM_Workshop.png') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Mirror EDM Workshop</p>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="jumbotron-heading main-low-margin">Quality Equipment</h1>
        <p class="lead text-muted">Our main concept of customer first, quality first, and excellence and providing "zero
            defect" products is our goal
        </p>
        <div class="row">
            <div class="col-md-8 col-sm-12 offset-md-2">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/quality_01.png') }}"
                        alt="Card image cap">
                </div>
            </div>
        </div>

    </div>

</section>
{% endblock %}