{% extends 'base.html' %}

{% block nav_services %}active{% endblock %}

{% block content %}
<div class="section bg-primary">
    <div class="container">
        <div class="row main-low-margin text-light">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <h2>Our Company</h2>
                <h6>
                    ●For more than 10 years Umold has become a leader in Mold Components in the sphere of Injection
                    Molding, Stamping Die, Casting Die, Hot Runner and mold base etc and we’re a preferred supplier for
                    some of the most successful international companies.<br>
                    ●Our services include design and fabrication, value-added operations and assembly.<br>
                    ●Engineering and Project Management are managed by our professional engineers with more than 15
                    years experiences and well english speaking.<br>
                    ●Founded on integrity and stric ethical practices, seeks mutially beneficial relationships with
                    customers and suppliers that share a like vision on sustainable business.
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row main-low-margin text-center">
        <div class="col-md-4 col-sm-4">
            <div class="circle-body d-flex align-items-center justify-content-center"><i
                    class="fa fa-flask fa-5x  icon-set"></i></div>
            <h3>TESTED DESIGN</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="circle-body d-flex align-items-center justify-content-center"><i
                    class="fa fa-bell-o fa-5x  icon-set"></i></div>
            <h3>EASY TO CUSTOMIZE</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="circle-body d-flex align-items-center justify-content-center"><i
                    class="fa fa-edit fa-5x  icon-set"></i></div>
            <h3>WELL DOCUMENTED</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
        </div>

    </div>
</div>
<section class="jumbotron text-center bg-light">
    <div class="container">
        <h1 class="jumbotron-heading">Production Equipment</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the
            creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it
            entirely.</p>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/光学研磨PG车间.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">光学研磨PG车间</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/慢走丝车间.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">慢走丝车间</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/穆尔坐标研磨JG.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">穆尔坐标研磨JG</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/日本沙迪克油割.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">日本沙迪克油割</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/日本沙迪克油割慢走丝.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">日本沙迪克油割慢走丝</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/日本西部机.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">日本西部机</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/夏米尔慢走丝.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">夏米尔慢走丝</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="card mb-3 shadow-sm bg-light transition_style">
                    <img class="card-img-top" src="{{ url_for('static',filename = 'img/equipment/研磨车间.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">研磨车间</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}