{% extends 'base.html' %}

{% block nav_contact %}active{% endblock %}

{% block content %}
<div class="section bg-primary">
    <div class="container">
        <div class="row main-low-margin text-light">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <h2>About Us</h2>
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row main-low-margin text-center">
        <div class="col-md-5 col-sm-5">
            <div class="circle-body d-flex align-items-center justify-content-center">
                <i class="fa fa-comments fa-5x  icon-set"></i></div>
            <h3>SEND MESSAGE</h3>
            <p>If you have any questions, please send us message.</p>
        </div>

        <div class="col-md-7 col-sm-7">
            <h3>SEND A QUICK QUERY</h3>
            <hr>
            <form>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Email address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <textarea name="message" id="Textarea1" required="required" class="form-control" rows="7"
                                placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit Request</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row main-low-margin ">


        <div class="col-md-7 col-sm-7">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h3>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>
        </div>
        <div class="col-md-5 col-sm-5 text-center">
            <div class="circle-body d-flex align-items-center justify-content-center">
                <i class="fa fa-map-marker fa-5x  icon-set"></i></div>
            <h3>OUR LOCATION </h3>
            <p></p>
            <p>
                103, Building 2, No. 7, <br>
                Zhen'an West Road, Chang'an Town,<br>
                Dongguan City, Guangdong Province<br>
            </p>

            <p></p>
        </div>
    </div>


</div>
{% endblock %}