{% from "bootstrap/nav.html" import render_nav_item %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %} | UP-Precision Mold Co.,ltd</title>
    <link rel="shortcut icon" href="{{url_for('static', filename = 'img/favicon.ico')}}" type="image/x-icon">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css')}}">
    {% endblock %}
</head>
<!--END HEAD SECTION -->

<body>
    <!-- NAV SECTION -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-3">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img alt="Uppmold" src="{{ url_for('static', filename = 'img/logo.png') }}" style="max-height: 40px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% block nav_home %}{% endblock %}" href="{{url_for('main.index')}}">HOME <span
                                class="sr-only"></span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% block nav_products %}{% endblock %}" href="#"
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            PRODUCTS
                        </a>
                        <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-light" id="dropdown-style"
                                href="{{url_for('main.injection_mold')}}">Injection Mold
                                Components</a>
                            <a class="dropdown-item text-light" id="dropdown-style"
                                href="{{url_for('main.stamping_die')}}">Stamping Die
                                Components</a>
                            <a class="dropdown-item text-light" id="dropdown-style"
                                href="{{url_for('main.hot_runner')}}">Hot Runner
                                Components</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block nav_customized %}{% endblock %}"
                            href="{{url_for('main.customized')}}">CUSTOMIZED</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% block nav_mold %}{% endblock %}" href="{{url_for('main.mold_base')}}">MOLD
                            BASE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block nav_services %}{% endblock %}"
                            href="{{url_for('main.company')}}">COMPANY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block nav_contact %}{% endblock %}"
                            href="{{url_for('main.contact')}}">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--END NAV SECTION -->
    <!-- HOME SECTION -->
    {% block content %}{% endblock %}

    <!--END HOME SECTION -->
    <!--FOOTER SECTION -->

    <div id="footer">
        <div class="container-fluid row bg-dark text-light">
            <div class="col-md-4">
                <h4>Quick Information :</h4>
                <p>
                    UP-Precision Mold Co.,ltd has become a leader in Mold Components in the sphere of Injection Mold, Stamping Die, Hot
                    Runner Components and mold base etc
                </p>
            </div>
            <div class="col-md-4">
                <h4>Need Help ? Write Us. </h4>
                <hr>
                <form>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3"
                                    placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit Request</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <a href="#"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
                <hr>
                <p>

                    Company Name: UP-Precision Mold Co.,ltd<br>
                    Add:Room 103, Building 2, No. 7, Zhen'an West Road, Chang'an Town, Dongguan City, Guangdong
                    Province<br>
                    Email: service@uppmold.com<br>
                </p>
                www.uppmold.com | All Right Reserved
            </div>
        </div>
    </div>
    <!--END FOOTER SECTION -->
    <!-- JS, Popper.js, and jQuery -->
    <script src="{{ url_for('static',filename = 'js/jquery.js') }}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.staticfile.org/moment.js/2.27.0/moment.min.js"></script>
    <script src="{{ url_for('static',filename = 'js/scripts.js') }}"></script>
    {{ moment.include_moment() }}
    <a href="javaScript:;" id="myBtn" class="text-center"><i class="fa fa-2x fa-arrow-circle-up"></i><br>top</a>
    <!-- CUSTOM SCRIPT-->
    <script>

        $(function() {


            $(window).scroll(function() {

                var top1 = $(this).scrollTop();

                if (top1 > 200) {

                    $("#myBtn").fadeIn();

                } else {

                    $("#myBtn").fadeOut();
                }
            });

            $("#myBtn").click(function() {
                $("body , html").animate({ scrollTop: 0 }, 200);
            });

        });
    </script>
    <script>
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('div#list-tab a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        // Change hash for page-reload
        $('div#list-tab a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
    </script>
</body>

</html>